body{
background:#0f172a;
color:white;
font-family:Arial;
}

.title{
text-align:center;
margin:40px;
}

.player-card{

background:#1e293b;
border-radius:12px;
padding:10px;
margin:20px;
transition:0.3s;

}

.player-card:hover{

transform:scale(1.05);

}

.bid{

color:#22c55e;
font-weight:bold;

}

.search{

margin-bottom:30px;

}