<!DOCTYPE html>
<html>

<head>

<title>IPL Auction War Room</title>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

</head>

<body class="bg-[#121212] text-white">

<div class="text-center text-3xl p-6 text-yellow-400 font-bold">

IPL Auction War Room

</div>

<div class="grid grid-cols-3 gap-6 p-6">

{% for p in players %}

<a href="/player/{{p[0]}}">

<div class="bg-[#1f1f1f] p-4 rounded-xl hover:scale-105">

<img src="{{p[5]}}" class="h-40 w-full object-cover">

<h2 class="text-xl mt-3">{{p[1]}}</h2>

<p>{{p[2]}}</p>

<p class="text-yellow-400">Base ₹{{p[4]}}</p>

</div>

</a>

{% endfor %}

</div>

<div id="ticker"
class="fixed bottom-0 w-full bg-black text-yellow-400 p-2">

Live Auction Feed

</div>

<script>

const socket = io()

socket.on("new_bid",function(data){

let ticker = document.getElementById("ticker")

ticker.innerHTML =
"Player "+data.player_id+
" bid ₹"+data.bid+
" by "+data.bidder+
" • "+ticker.innerHTML

})

</script>

</body>
</html>
