<!DOCTYPE html>
<html>

<head>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

</head>

<body class="bg-[#121212] text-white">

<div class="grid grid-cols-2 gap-10 p-10">

<div>

<img src="{{player[5]}}" class="rounded-xl">

<h1 class="text-4xl mt-4">

{{player[1]}}

</h1>

<p>{{player[2]}} • {{player[3]}}</p>

</div>

<div class="bg-[#1f1f1f] p-6 rounded">

<h2 class="text-2xl">

Current Bid

</h2>

<div id="highestBid"
class="text-5xl text-yellow-400">

₹{{highest}}

</div>

<div class="mt-4">

Timer:
<span id="timer" class="text-red-500 text-3xl">

30

</span>

</div>

<input id="bidInput"
class="p-3 text-black mt-4 w-full">

<button onclick="placeBid()"
class="bg-blue-600 p-3 mt-4 w-full">

Place Bid

</button>

</div>

</div>

<script>

const socket = io()

function placeBid(){

let bid = document.getElementById("bidInput").value

socket.emit("place_bid",{

player_id: {{player[0]}},
bid: bid,
bidder: "CSK"

})

}

socket.on("new_bid",function(data){

if(data.player_id == {{player[0]}}){

document.getElementById("highestBid").innerText =
"₹"+data.bid

}

})

socket.on("timer_update",function(data){

if(data.player_id == {{player[0]}}){

document.getElementById("timer").innerText =
data.time

}

})

</script>

</body>
</html>
